<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{influence.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{influence.list.headline}]]</h1>
                <div>
                    <a th:href="@{/influences/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{influence.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${influences.empty}">[[#{influence.list.empty}]]</div>
            <div th:if="${!influences.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{influence.id.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{influence.name.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{influence.gender.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{influence.height.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{influence.weight.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{influence.costMin.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{influence.costMax.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{influence.profilePicture.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="influence : ${influences}" class="odd:bg-gray-100">
                            <td class="p-2">[[${influence.id}]]</td>
                            <td class="p-2">[[${influence.name}]]</td>
                            <td class="p-2">[[${influence.gender}]]</td>
                            <td class="p-2">[[${influence.height}]]</td>
                            <td class="p-2">[[${influence.weight}]]</td>
                            <td class="p-2">[[${influence.costMin}]]</td>
                            <td class="p-2">[[${influence.costMax}]]</td>
                            <td class="p-2">[[${influence.profilePicture}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/influences/edit/{id}(id=${influence.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{influence.list.edit}]]</a>
                                    <form th:action="@{/influences/delete/{id}(id=${influence.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{influence.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
