<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{admin.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{admin.add.headline}]]</h1>
                <div>
                    <a th:href="@{/admins}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{admin.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('admin')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='email', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='password')}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='status', type='radio')}" />
                <input type="submit" th:value="#{admin.add.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
            </form>
        </div>
    </body>
</html>
