<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@category.edit.headline">Edit Category</h1>
    <div>
        <a routerLink="/categories" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@category.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@category.id.label" label="Id" />
    <app-input-row [group]="editForm" field="name" i18n-label="@@category.name.label" label="Name" />
    <app-input-row [group]="editForm" field="icon" i18n-label="@@category.icon.label" label="Icon" />
    <input type="submit" i18n-value="@@category.edit.headline" value="Edit Category" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
