<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@admin.list.headline">Admins</h1>
    <div>
        <a routerLink="/admins/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@admin.list.createNew">Create new Admin</a>
    </div>
</div>
@if (!admins || admins.length === 0) {
<div i18n="@@admin.list.empty">No Admins could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@admin.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@admin.name.label">Name</th>
                <th scope="col" class="text-left p-2" i18n="@@admin.email.label">Email</th>
                <th scope="col" class="text-left p-2" i18n="@@admin.password.label">Password</th>
                <th scope="col" class="text-left p-2" i18n="@@admin.status.label">Status</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (admin of admins; track admin.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ admin.id }}</td>
                <td class="p-2">{{ admin.name }}</td>
                <td class="p-2">{{ admin.email }}</td>
                <td class="p-2">{{ admin.password }}</td>
                <td class="p-2">{{ admin.status }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/admins/edit', admin.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@admin.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(admin.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@admin.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
