<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@influence.list.headline">Influences</h1>
    <div>
        <a routerLink="/influences/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@influence.list.createNew">Create new Influence</a>
    </div>
</div>
@if (!influences || influences.length === 0) {
<div i18n="@@influence.list.empty">No Influences could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@influence.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@influence.name.label">Name</th>
                <th scope="col" class="text-left p-2" i18n="@@influence.gender.label">Gender</th>
                <th scope="col" class="text-left p-2" i18n="@@influence.height.label">Height</th>
                <th scope="col" class="text-left p-2" i18n="@@influence.weight.label">Weight</th>
                <th scope="col" class="text-left p-2" i18n="@@influence.costMin.label">Cost Min</th>
                <th scope="col" class="text-left p-2" i18n="@@influence.costMax.label">Cost Max</th>
                <th scope="col" class="text-left p-2" i18n="@@influence.profilePicture.label">Profile Picture</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (influence of influences; track influence.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ influence.id }}</td>
                <td class="p-2">{{ influence.name }}</td>
                <td class="p-2">{{ influence.gender }}</td>
                <td class="p-2">{{ influence.height }}</td>
                <td class="p-2">{{ influence.weight }}</td>
                <td class="p-2">{{ influence.costMin }}</td>
                <td class="p-2">{{ influence.costMax }}</td>
                <td class="p-2">{{ influence.profilePicture }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/influences/edit', influence.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@influence.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(influence.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@influence.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
